.FavoritesPage
{
    width: calc(100% - 45%);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

